.Menu {
  font-size: 28px;
  display: none;
  .hamburgerMenu {
    position: fixed;
    top: 10px;
    left: 4px;
    color: rgb(26, 26, 25);
    cursor: pointer;
  }
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(231, 250, 89);
    width: 100vw;
    height: 100vh;
  }
  ul {
    position: fixed;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .btnModal {
    cursor: pointer;
    width: 40px;
    border: none;
    border-radius: 12px;
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
  }
  .btnModal:hover {
    background-color: darkblue;
    color: chartreuse;
  }
}
@media screen and (max-width: 768px) {
  .Menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
  }
}
