.Footer {
  width: 100%;
  height: 200px;
  background-color: rgb(25, 25, 25);
  color: white;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  h2 {
    text-align: center;
  }
  .infoEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoEmail :visited {
    color: whitesmoke;
  }
  .infoNum {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
  }
  .infoCity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    padding: 20px;
  }
  .Icon {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .Footer .container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 90, 91);
  }
  .Icon .infoCity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoNum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
}
