@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Raleway:wght@200&display=swap");

.Experience {
  width: 100%;
  height: 800px;
  color: whitesmoke;
  .container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // width: 400px;
    height: 800px;
  }
  p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-bottom: 10px;
  }
  h2 {
    font-family: "Raleway";
  }
  h3 {
    font-family: "Raleway";
  }
}
